<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <!-- 引入element-ui样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.10/lib/theme-chalk/index.css">
    <!--    引入vue2-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- 引入element-ui组件库 -->
    <script src="https://unpkg.com/element-ui@2.15.10/lib/index.js"></script>
    <!-- 引入axios-->
    <script src="https://unpkg.com/axios@1.1.3/dist/axios.min.js"></script>
</head>
<body>
<div id="left"/>
<div id="app">
    <p>注册</p>
    <form @submit.prevent="PreventSubmit()">
    用户名：<el-input v-model="userForm.username" placeholder="username" clearable>{{userForm.username}}</el-input>
    <br />
    密码：<el-input placeholder="password" v-model="userForm.password" show-password>{{userForm.password}}</el-input>
    <br />
    邮箱：<el-input v-model="userForm.email" placeholder="email" clearable>{{userForm.email}}</el-input>
    <br />
    <br/>
    </form>
    <el-button @click="sendPost()" type="submit" plain>注册</el-button>
    <el-link href="/" target="_blank">回到首页</el-link>
    

</div>
<div id="right"/>

</body>
<script type="text/javascript">
    const app = new Vue({
        el: '#app',
        data: {
            //用户注册表单
            userForm:{
                username: "",
                password: "",
                email: "",
                superuser: "",
                isdelete: ""

            }
        },
        methods: {
            PreventSubmit: function () {

                // 阻止默认表单提交

                // 做你自己想做的事，比如ajax请求后台数据

                return false;

            },
            sendPost: function () {
                axios.post('/addUser',
                    (this.userForm)
                )
                    .then((resp) => {
                        console.log(resp);
                        console.log(resp.data)
                        if (resp.data == "succeed")
                        {
                            alert("注册成功")
                            location.href = "/";
                        }
                        else
                            alert("出错了");

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    });
</script>
<style>
    #app {
        margin-top: 0px;
        height: 276px;
        width: 200px;
        float: left;
    }

    #app p {
        text-align: left;
    }
    #app el-input{
        display: inline;
    }

    body {
        /*background-image: url(/img/background.jpg);*/
        background-size: cover;
        background-color: #3e6ca9;
    }
</style>

</html>